<h4><%= @recipe.name %></h4>

<p><%= @recipe.description %></p>

<ul>
	<% @recipe.recipe_items.each do |recipe_item| %>
		<li>
			<p>
				<%= recipe_item.quantity %>g of <%= recipe_item.product.name %>
			</p>
		</li>
	<% end %>
</ul>

<%= link_to "Add to cart", add_to_cart_path(id: @recipe.id), method: :post, remote: true, class: "btn btn-success" %>