<ul class="list-group">
	<% @deliveries.each do |delivery| %>
		<li class="list-group-item">
			<p>
				Delivery Price: <%= number_to_currency(delivery.price, unit: '€', format: "%n%u") %>
			</p>

			<h5>
				Number of products: <%= delivery.orders.map(&:product).uniq.length %>
			</h5>

			<p>
				Scheduled at: <%= delivery.scheduled_at_display %>
			</p>

			<p>
				Delivered at: <%= delivery.delivered_at %>
			</p>

			<%= link_to "Edit", edit_delivery_path(id: delivery.id), class: "btn btn-primary" %>
		</li>
	<% end %>
</ul>