<li class="list-group-item" data-controller="algolia-places">
	<div class="d-flex">
		<%= f.input :address, label: "Delivery address", autocomplete: "off", input_html: { data: { target: "algolia-places.input" } }, required: false %>
		
		<%= f.input :phone, label: "Phone number", required: false, wrapper_html: { class: "ml-3" }  %>
	</div>

	<%= f.input :instructions, label: "Delivery instructions" %>
</li>

<li class="list-group-item">
	<div class="row">
	  <div class="col-3">
	    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	    	<% @grouped_datetimes.keys.each do |date| %>
		    	<%= link_to date.strftime("%B, %d"), "#v-pills-#{date.jd}", role: "tab", class: "nav-link", data: { toggle: "pill" } %>
	    	<% end %>
	    </div>
	  </div>

	  <div class="col-9">
	    <div class="tab-content" id="v-pills-tabContent">
	    	<% @grouped_datetimes.each do |date, datetimes| %>
	    		<div class="tab-pane fade" id="v-pills-<%= date.jd %>" role="tabpanel">
	    			<% datetimes.each do |datetime| %>
	    				<label>
	    					<%= radio_button_tag "order[delivery_attributes][scheduled_at]", datetime %>

	    					<%= datetime.strftime('%H:%M') %>
	    					to
	    					<%= (datetime + 2.hours).strftime('%H:%M') %>
	    				</label>
	    			<% end %>
	    		</div>
	    	<% end %>
	    </div>
	  </div>
	</div>
</li>
