<div
	class="card step"
	data-target="checkouts.step0"
>
	<button type="button" class="btn btn-block text-left dropdown-toggle collapse show" data-toggle="collapse" data-target="#collapse0">
		Delivery Address
	</button>

	<div id="collapse0" class="collapse show" data-parent="#orderAccordian">
		<div class="card-body">
			<div data-controller="algolia-places">
				<%= f.input :address, autocomplete: "off", input_html: { data: { target: "algolia-places.input" } }, label: false %>
				<%= f.error :address, class: "error-output" %>
			</div>

			<button type="button" class="btn btn-primary" data-action="checkouts#triggerStep" data-step="0">
				Save
			</button>
		</div>
	</div>
</div>

<div
	class="card step"
	data-target="checkouts.step1"
>
	<button type="button" class="btn btn-block text-left" data-target="#collapse1">
		Delivery Time
	</button>

	<div id="collapse1" class="collapse" data-parent="#orderAccordian">
		<div class="card-body">
			<%= f.input :scheduled_at, label: false, collection: Delivery.available_datetimes.map { |dt| ["#{dt.strftime('%d/%m | %H:%M')} to #{(dt + 2.hours).strftime('%H:%M')}", dt] } %>
			<%= f.error :scheduled_at, class: "error-output" %>

			<button type="button" class="btn btn-primary" data-action="checkouts#triggerStep" data-step="1">
				Save
			</button>
		</div>
	</div>
</div>

<div
	class="card step"
	data-target="checkouts.step2"
>
	<button type="button" class="btn btn-block text-left" data-target="#collapse2">
		Delivery Instructions
	</button>

	<div id="collapse2" class="collapse" data-parent="#orderAccordian">
		<div class="card-body">
			<%= f.input :instructions, label: false %>
			<%= f.error :instructions, class: "error-output" %>

			<button type="button" class="btn btn-primary" data-action="checkouts#triggerStep" data-step="2">
				Save
			</button>
		</div>
	</div>
</div>

<div
	class="card step"
	data-target="checkouts.step3"
>
	<button type="button" class="btn btn-block text-left" data-target="#collapse3">
		Mobile Number
	</button>

	<div id="collapse3" class="collapse" data-parent="#orderAccordian">
		<div class="card-body">
			<%= f.input :phone, label: false %>
			<%= f.error :phone, class: "error-output" %>

			<button type="button" class="btn btn-primary" data-action="checkouts#triggerStep" data-step="3">
				Save
			</button>
		</div>
	</div>
</div>

