<li class="list-group-item">
	<a data-toggle="collapse" role="button" href="#orderCollapsable<%= order.id %>" class="d-flex align-items-center justify-content-between text-decoration-none text-dark">
		<div>
			<p class="font-weight-bold">
				<%= order.delivery.scheduled_at.strftime("%B %d | %H:%M") %> to <%= (order.delivery.scheduled_at + 2.hours).strftime("%H:%M") %>
			</p>

			<p class="mb-0">
				<%= number_to_currency(order.total) %>
			</p>
		</div>

		<%= fa_icon 'chevron-down' %>
	</a>

	<div class="collapse border-top mt-3" id="orderCollapsable<%= order.id %>">
		<div class="d-flex justify-content-between align-items-center border-bottom py-2">
			<p class="mb-0">
				<%= order.order_items.count %> items
			</p>

			<%= link_to add_to_cart_order_path(order), remote: true, method: :post, class: "btn btn-success btn-sm", data: { toggle: 'tooltip', placement: 'right' }, title: number_to_currency(order.total) do %>
				<%= fa_icon 'plus' %>

				Add all items to cart
			<% end %>
		</div>

		<% order.order_items.each do |order_item| %>
			<div class="d-flex justify-content-between align-items-center border-bottom py-2">
				<%= link_to order_item.item.name, item_path(order_item.item) %>

				<div class="d-flex align-items-center">
					<p class="mb-0">
						<%= order_item.quantity %> grams
					</p>

					<%= link_to add_to_cart_order_item_path(order_item), remote: true, method: :post, class: "btn btn-success btn-sm ml-3", data: { toggle: 'tooltip', placement: 'right' }, title: number_to_currency(order_item.total) do %>
						<%= fa_icon 'plus' %>

						Add to cart
					<% end %>
				</div>
			</div>
		<% end %>

		<div class="d-flex justify-content-between align-items-center pt-2">
			<p class="mb-0 font-weight-bold">
				More options
			</p>

			<div>
				<%= link_to order_path(order), class: "btn btn-outline-success" do %>
					<%= fa_icon 'truck' %>

					Track Order
				<% end %>

				<%= link_to receipt_order_path(order), target: "_blank", class: "btn btn-outline-success" do %>
					<%= fa_icon 'receipt' %>

					View Receipt
				<% end %>
			</div>
		</div>
	</div>
</li>
