<div class="list-group-item" id="payment_methods" data-controller="channels--payment-methods" data-channels--payment-methods-user-id="<%= current_user.id %>">

	<div data-target="channels--payment-methods.inputs">
		<%= f.input :payment_method_id, collection: @payment_methods %>
		<%= f.error :payment_method_id %>
	</div>

	<%= link_to new_stripe_payment_method_path, remote: true, class: 'btn btn-primary' do %>
		<%= fa_icon 'plus', class: "mr-1" %>
		New card
	<% end %>
</div>
