<ul class="list-group">
	<% @orders.group_by(&:delivery).sort_by { |delivery, _| delivery.scheduled_at }.each do |delivery, orders| %>
		<li class="list-group-item">
			<h4>
				<%= delivery.scheduled_at_time_display %> on <%= delivery.scheduled_at_date_display %>
			</h4>

			<ul>
				<% orders.each do |order| %>
					<li>
						<p>
							<%= order.quantity %>g of <%= order.product.name %>
						</p>
					</li>
				<% end %>
			</ul>

			<%= link_to "Change delivery time", edit_delivery_path(delivery), class: "btn btn-primary" %>
		</li>
	<% end %>
</ul>