<div class="container mt-5">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h2>Your Orders</h2>
		</li>

		<% @orders.each do |order| %>
			<li class="list-group-item">
				<div class="d-inline-block">
					<b class="mr-3"><%= number_to_currency(order.total) %></b>
					<%= order.delivery.scheduled_at.strftime("%B %d | %H:%M") %> to <%= (order.delivery.scheduled_at + 2.hours).strftime("%H:%M") %>
				</div>

				<div class="float-right">
					<%= link_to "Track", track_order_path(order), class: "btn btn-success" %>
					<%= link_to "View", order_path(order), class: "btn btn-primary" %>
				</div>
			</li>
		<% end %>
	</ul>
</div>