<div class="container mt-5" data-controller="checkout">
	<%= simple_form_for @order, validate: true, data: { target: "checkout.form" } do |f| %>
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card border-0">
					<div class="card-body px-5">
						<!-- Order_Items are hidden -->
						<div id='order_items' class="d-none">
						  <%= f.simple_fields_for :order_items do |order_item| %>
						    <%= render 'order_item_fields', f: order_item %>
						  <% end %>
						</div>

						<ul class="list-group list-group-flush">
						  <%= f.simple_fields_for :delivery do |delivery| %>
						    <%= render 'delivery_fields', f: delivery %>
						  <% end %>

							<%= render 'payment_methods', f: f %>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4">
				<%= render 'overview', order: @order %>
			</div>
		</div>
	<% end %>
</div>
