<div class="container" data-controller="checkouts">
	<div class="row">
		<div class="col-8">
			<%= simple_form_for @order, disabled: true, data: { target: "checkouts.form", action: "checkouts#submitForm" } do |f| %>
				<div class="accordian" id="orderAccordian">
					<div id='deliveries'>
					  <%= f.simple_fields_for :deliveries do |delivery| %>
					    <%= render 'delivery_fields', f: delivery %>
					  <% end %>
					</div>

					<!-- Order_Items are hidden -->
					<div id='order_items'>
					  <%= f.simple_fields_for :order_items do |order_item| %>
					    <%= render 'order_item_fields', f: order_item %>
					  <% end %>
					</div>

					<%= render 'payment_methods', payment_method_collection: @payment_method_collection, f: f %>
				</div>
			<% end %>
		</div>

		<div class="col-4">
			<%= render 'overview' %>
		</div>
	</div>
</div>
