<div class="container my-5" data-controller="checkout">
	<%= simple_form_for @order, validate: true, data: { target: "checkout.form" } do |f| %>
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card border-0">
					<div class="card-body px-5">
						<!-- Order_Items are hidden -->
						<div id='order_items' class="d-none">
						  <%= f.simple_fields_for :order_items do |order_item| %>
						    <%= render 'order_item_fields', f: order_item %>
						  <% end %>
						</div>

						<ul class="list-group list-group-flush">
						  <%= f.simple_fields_for :delivery do |delivery| %>
						    <%= render 'delivery_fields', f: delivery %>
						  <% end %>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4 mt-3 mt-lg-0">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<%= render 'breakdown' %>
					</li>

					<li class="list-group-item">
						<%= render 'payment_methods', f: f %>
					</li>

					<li class="list-group-item">
						<button data-target="checkout.submitButton" type="submit" class="btn btn-secondary btn-lg btn-block" disabled style="cursor: not-allowed;">
							Place Order
						</button>
					</li>
				</ul>
			</div>
		</div>
	<% end %>
</div>
