<%= simple_form_for @order, html: { data: { controller: "checkouts" } } do |f| %>
	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="accordion" id="checkoutAccordian">
					<div id='deliveries'>
					  <%= f.simple_fields_for :deliveries do |delivery| %>
					    <%= render 'delivery_fields', f: delivery %>
					  <% end %>
					</div>

					<div class="" id='order_items'>
					  <%= f.simple_fields_for :order_items do |order_item| %>
					    <%= render 'order_item_fields', f: order_item %>
					  <% end %>
					</div>
				</div>
			</div>

			<div class="col-4">
				<%= f.submit 'Review Order', class: "btn btn-success" %>
				<br>
				Keep this disabled until all fields including payment method are filled

				<br>
				<br>
				Order Breakdown
				<br>
				Subtotal
				<br>
				Tax
				<br>
				Delivery
				<br>
				Total
			</div>
		</div>
	</div>
<% end %>
