<ul class='list-group'>
	<% @cart.cart_items.each do |cart_item| %>
		<li class='list-group-item'>
			<h5><%= cart_item.product.name %></h5>

			<%= simple_form_for(cart_item) do |f| %>
				<%= f.input :quantity, value: cart_item.quantity %>

				<%= f.submit %>
			<% end %>

			<%= link_to cart_item_path(id: cart_item.id), method: :delete, class: "text-danger" do %>
				<%= fa_icon "times-circle" %>
			<% end %>
		</li>
	<% end %>
</ul>

<%= link_to "Checkout", billings_path(cart_id: current_user.cart.id), method: :post, remote: true, class: "btn btn-success" %>