<ul class='list-group'>
	<% @cart.orders.each do |order| %>
		<li class='list-group-item'>
			<h5><%= order.product.name %></h5>

			<%= simple_form_for(order) do |f| %>
				<%= f.input :quantity, value: order.quantity %>

				<%= f.submit %>
			<% end %>

			<%= link_to order_path(id: order.id), method: :delete, class: "text-danger" do %>
				<%= fa_icon "times-circle" %>
			<% end %>
		</li>
	<% end %>
</ul>

<%= link_to "Checkout", cart_checkout_path(id: current_user.cart.id), class: "btn btn-success" %>