<div class="card border-0 h-100 item-card" id="item_<%= item.id %>">
  <%= link_to item_path(id: item.id), remote: true, data: { toggle: "modal", target: "#modal-window" } do %>
    <% if item.main_image.attached? %>
      <%= image_tag item.main_image, class: "card-img-top", alt: item.name %>
    <% end %>

    <div class="card-body text-center">
      <h5 class="card-title text-secondary font-weight-normal">
        <%= item.name %>
      </h5>

      <p class="card-text text-dark mb-0" style="font-weight: 600">
        <%= number_to_currency(item.price_for(item.display_price_quantity)) %>

        <span class="text-muted">
          <%= " / " + item.display_unit %>
        </span>
      </p>
    </div>

    <%= fa_icon 'plus-square', type: :regular, class: "text-success" %>
  <% end %>
</div>
