<div class="modal-body">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

	<div class="container-fluid pt-4">
		<div class="row align-items-center">
			<div class="col-6 text-center">
				<% if @item.image.attached? %>
				  <%= cl_image_tag @item.image.key, alt: @item.name, class: 'img-fluid' %>
				<% end %>
			</div>

			<div class="col-6">
				<div class="card border-0">
					<div class="card-body">
						<h2 class="card-title">
							<%= @item.name %>
						</h2>

						<h3 class="card-subtitle mt-2">
							<%= number_to_currency(@item.price_for(1000)) %>

							<small class="text-muted">
								per kg
							</small>
						</h3>

						<p class="card-text mt-3">
							<%= @item.description %>
						</p>

						<%= simple_form_for CartItem.new(item_id: @item.id), html: { class: "mt-4 border-top pt-4", data: { "item-price": @item.price, controller: "item" } }, remote: true do |f| %>
							<%= f.hidden_field :item_id %>

							<%= f.input :quantity, hint: "Enter your desired quantity in grams", input_html: { data: { target: "item.input", action: "input->item#updateValues" } } %>

							<div class="row">
								<div class="col-6">
									<ul class="list-group list-group-flush">
										<li class="list-group-item" data-target="item.quantity">
											333 grams
										</li>

										<li class="list-group-item" data-target="item.price">
											<%= number_to_currency(@item.price_for(333)) %>
										</li>
									</ul>
								</div>

								<div class="col-6 d-flex justify-content-end align-items-center">
									<%= f.submit "Add to cart", class: "btn btn-success" %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer mx-5">
	<div class="container-fluid text-center">
		<%= link_to "More product info", item_path(@item), class: "text-success text-decoration-none" %>
	</div>
</div>
