<div class="container bg-white my-5" id="carts_show">
	<div class="row align-items-center">
		<div class="col-12 col-lg-6 text-center">
			<% if @item.image_count.positive? %>
				<% if @item.image_count > 1 %>
					<!-- Slider main container -->
					<div class="swiper-container" data-controller="swiper">
				    <!-- Additional required wrapper -->
				    <div class="swiper-wrapper align-items-center">
			        <!-- Slides -->
			        <div class="swiper-slide">
			        	<%= image_tag @item.main_image, alt: @item.main_image.filename, class: 'img-fluid' %>
			        </div>

			        <% @item.images.each do |image| %>
			        	<div class="swiper-slide">
			        		<%= image_tag image, alt: image.filename, class: 'img-fluid' %>
			        	</div>
			        <% end %>
				    </div>

				    <div class="swiper-button-prev" style="color: lightgray;"></div>
		        <div class="swiper-button-next" style="color: lightgray;"></div>
					</div>
				<% else %>
					<%= image_tag @item.main_image, alt: @item.main_image.filename, class: "img-fluid" %>
				<% end %>
			<% end %>
		</div>

		<div class="col-12 col-lg-6">
			<div class="card border-0">
				<div class="card-body">
					<h2 class="card-title">
						<%= @item.name %>
					</h2>

					<h3 class="card-subtitle mt-2 text-success">
						<%= number_to_currency(@item.display_price) %>

						<small class="text-muted">
							per <%= @item.display_unit %>
						</small>
					</h3>

					<p class="card-text mt-3">
						<%= @item.description %>
					</p>

					<nav class="border-top mt-3 pt-3">
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<% @item.units.each do |unit| %>
								<%= link_to unit.name.pluralize.capitalize, "#tab_#{unit.name}", role: "tab", class: "item-tab-link nav-item nav-link #{unit.base? ? 'active' : ''}", data: { toggle: "tab" } %>
							<% end %>
					  </div>
					</nav>

					<div class="tab-content" id="nav-tabContent">
						<% @item.units.each do |unit| %>
							<div 
								class="tab-pane fade <%= unit.base? ? 'show active' : '' %>"
								id="tab_<%= unit.name %>"
								role="tabpanel"
								data-controller="item"
								data-item-price="<%= unit.price %>"
								data-item-unit="<%= unit.name %>"
							>
								<%= simple_form_for CartItem.new(unit_id: unit.id), html: { class: "mt-3" }, remote: true do |f| %>
									<%= f.hidden_field :unit_id %>

									<%= f.input :quantity, label: "Quantity (#{unit.name.pluralize})", wrapper_html: { class: "mb-0" }, input_html: { data: { target: "item.input", action: "input->item#updateValues" } } %>

									<div class="mt-1" style="min-height: 19px;">
										<% unless unit.base? %>
											<small class="form-text text-muted mt-0">
												<%= t("unit.#{unit.name}", count: 1) +  " = " + t("unit.#{@item.base_unit.name}", count: unit.base_units) %>
											</small>
										<% end %>
									</div>

									<div class="row mt-3">
										<div class="col-6">
											<ul class="list-group list-group-flush">
												<li class="list-group-item" data-target="item.quantity">
													Chosen quantity
												</li>

												<li class="list-group-item" data-target="item.price">
													Price
												</li>
											</ul>
										</div>

										<div class="col-6 d-flex justify-content-end align-items-center">
											<%= f.submit "Add to cart", class: "btn btn-success btn-lg" %>
										</div>
									</div>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row border-top pt-5">
		<div class="col-12 col-lg-6">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<h4>
						Product information
					</h4>
				</li>

				<li class="list-group-item py-3">
					<div class="row justify-content-between">
						<div class="col-6">
							<h5 class="font-weight-light mb-0">
								Ingredients
							</h5>
						</div>

						<div class="col-6">
							<p class="mb-0">
								Oatmeal 65%, cane sugar, coconut fat, grated coconut, rice extrudate (whole grain rice flour), sea salt
							</p>
						</div>
					</div>
				</li>

				<li class="list-group-item py-3">
					<div class="row justify-content-between">
						<div class="col-6">
							<h5 class="font-weight-light mb-0">
								Origin
							</h5>
						</div>

						<div class="col-6">
							<p class="mb-0">
								Ethiopia
							</p>
						</div>
					</div>
				</li>

				<li class="list-group-item py-3">
					<div class="row justify-content-between">
						<div class="col-6">
							<h5 class="font-weight-light mb-0">
								Organic control code
							</h5>
						</div>

						<div class="col-6">
							<p class="mb-0">
								DE-ÖKO-003
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="col-12 col-lg-6">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<h4>
						Average nutritional values per 100g
					</h4>
				</li>

				<li class="list-group-item">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>
									Energy
								</td>

								<td>
									2544 kJ / 608 kcal
								</td>
							</tr>

							<tr>
								<td>
									Fat
								</td>

								<td>
									51.6 g
								</td>
							</tr>

							<tr>
								<td>
									Carbohydrates
								</td>

								<td>
									11.6 g
								</td>
							</tr>

							<tr>
								<td>
									Protein
								</td>

								<td>
									20.0 g
								</td>
							</tr>

							<tr>
								<td>
									Salt
								</td>

								<td>
									0.030 g
								</td>
							</tr>
						</tbody>
					</table>
				</li>
			</ul>
		</div>
	</div>
</div>