<div class="container text-center d-flex justify-content-center">
	<div class="card w-50">
		<div class="card-header">
			<%= link_to "Back to less", root_path, class: "text-secondary text-left" %>

			<h1 class="card-title mb-0 font-weight-light">
				Forgot your password?
			</h1>
		</div>

		<div class="card-body d-flex flex-column align-items-center">
			<%= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'w-75 mb-3' } do |f| %>

		    <%= f.input :email, autofocus: true, autocomplete: "email" %>

		    <%= f.submit "Send me reset instructions", class: 'btn btn-success btn-lg btn-block' %>
			<% end %>

			<%= render "users/shared/links" %>
		</div>
	</div>
</div>

<style>
	nav {
		display: none;
	}

	body {
		background: lightgreen !important;
		display: flex;
		align-items: center;
	}
</style>