<div data-controller="products--product" data-products--product-price="<%= product.price %>" class="card h-100" id="product_<%= product.id %>">
  <a href="#">
    <% if product.image.attached? %>
      <%= image_tag product.image, class: "card-img-top", alt: product.name %>
    <% end %>

    <span class="badge badge-light top-left">
      <%= number_to_currency(product.price * product.display_unit_quantity, unit: '€', format: "%n %u") + " / " + product.display_unit %>
    </span>

    <span data-target="products--product.display" class="badge badge-success top-right">
      0.00 €
    </span>
  </a>

  <div class="card-body">
    <h4 class="card-title">
      <a href="#" class="text-dark font-weight-bold">
        <%= product.name %>
      </a>
    </h4>

    <div class="tags">
      <% if product.tag_list.include?("organic") %>
        <%= fa_icon "leaf", class: "text-success", title: "Organic", data: { toggle: "tooltip", placement: "top" } %>
      <% end %>

      <% if product.tag_list.include?("vegan") %>
        <%= fa_icon "carrot", class: "text-warning", title: "Vegan", data: { toggle: "tooltip", placement: "top" } %>
      <% end %>
    </div>
  </div>

  <div class="card-footer">
    <%= simple_form_for(CartItem.new, remote: true, wrapper: :inline_form, html: { class: 'form-inline' }) do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>

      <%= f.input :quantity, placeholder: "Want some?", input_html: { data: { action: "input->products--product#updateDisplay", target: "products--product.input" }, class: "w-100" } %>

      <%= button_tag type: "submit", class: "btn btn-success ml-auto" do %>
        <%= fa_icon "plus" %>
      <% end %>
    <% end %>

    <small class="text-muted"></small>
  </div>
</div>
