<div class="card h-100" id="product_<%= product.id %>">
  <a href="#">
    <% if product.image.attached? %>
      <%= image_tag product.image, class: "card-img-top", alt: product.name %>
    <% end %>
  </a>

  <div class="card-body">
    <h4 class="card-title">
      <a href="#"><%= product.name %></a>
    </h4>

    <h5><%= number_to_currency(product.price * 1000, unit: '€') %> per kg</h5>

    <%= simple_form_for(CartItem.new, remote: true, wrapper: :inline_form, html: { class: 'form-inline' }) do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>

      <%= f.input :quantity, label: false %>

      <%= f.submit "Add to cart" %>
    <% end %>
  </div>

  <div class="card-footer">
    <small class="text-muted">In stock: <%= product.stock %>g</small>
  </div>
</div>