<div data-controller="products--product" data-products--product-price="<%= product.price %>" class="card product-card border-0 h-100" id="product_<%= product.id %>">
  <div class="card-body">
    <%= link_to store_product_path(@store, product), remote: true, data: { toggle: "modal", target: "#modal-window" } do %>
      <% if product.image.attached? %>
        <%= image_tag product.image, class: "card-img-top mb-2", alt: product.name %>
      <% end %>
    <% end %>

    <p class="text-dark font-weight-bold mb-0">
      <%= number_to_currency(product.price * product.display_unit_quantity, unit: '€', format: "%n %u") %>
      <span class="text-muted">
        <%= " / " + product.display_unit %>
      </span>
    </p>

    <p class="text-muted mb-0">
      <%= product.name %>
    </p>
  </div>
</div>
