<div class="banner py-5">
	<div class="container">
		<h1 class="text-white" style="font-size: 50px;">
			Groceries
		</h1>
	</div>
</div>

<div class="container">
	<div class="mt-4" data-controller="autocomplete" data-autocomplete-url="<%= autocomplete_products_url %>">
		<%= form_with url: products_path, method: :get, local: true, class: "form-inline", html: { autocomplete: "off" } do %>
		  <%= search_field_tag :q, nil, placeholder: "What are you craving?", class: "form-control w-100", data: { target: "autocomplete.input", action: "input->autocomplete#fetchResults" } %>
		<% end %>

		<ul class="list-group" data-target="autocomplete.results"></ul>
	</div>

	<div class="row">
		<div class="col-lg-3">
		  <%= render 'filters' %>
		</div>

		<div class="col-lg-9">
			<%= render 'carousel' %>

			<div class="row">
				<% @products.each do |product| %>
					<div class="col-lg-4 col-md-6 mb-4">
						<%= render 'product', product: product %>
					</div>
				<% end %>
			</div>

			<%= will_paginate @products, list_classes: %w(pagination justify-content-center) %>
		</div>
	</div>
</div>

<style>
	.banner {
		background: #9DDB6C;
	}

	.badge {
		position: absolute;
	}

	.top-left {
		top: 10px;
		left: 10px;
	}

	.top-right {
		top: 10px;
		right: 10px;
	}
</style>