<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
	<div class="container">
		<%= link_to root_path, class: "navbar-brand" do %>
			<%= image_tag "temp_logo", id: "logo", alt: "less logo" %>
		<% end %>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<%= link_to "Stores", stores_path, class: "nav-link" %>
				</li>
			</ul>

			<div class="ml-auto">
				<% if current_user %>
					<%= link_to edit_cart_path(id: current_user.cart.id), class: "icon rounded-circle border text-secondary position-relative mr-2" do %>
						<% current_user.reload # Is neccessary to ensure that the cart_items.length is up to date %>
						<%= fa_icon "shopping-cart" %>
						<span class="badge badge-pill badge-danger notify"><%= current_user.cart.cart_items.length %></span>
					<% end %>

					<%= link_to edit_user_registration_path, class: "icon rounded-circle border text-secondary" do %>
						<%= fa_icon "user" %>
					<% end %>
				<% else %>
					<div class="text">
						<span class="text-muted">Welcome!</span>

						<div>
							<%= link_to "Sign in", new_user_session_path, class: "text-dark" %>
							 | 
							<%= link_to "Register", new_user_registration_path, class: "text-dark" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</nav>
