<nav class="sticky-top bg-white" style="box-shadow: 0 1px 5px rgba(0,0,0,.16);">
	<div class="navbar navbar-light">
		<%= link_to "Less", root_path, class: "navbar-brand px-4 text-success", style: "letter-spacing: 0.5rem; font-weight: 300;" %>

		<div class="flex-grow-1 d-none d-lg-block" data-controller="autocomplete" data-autocomplete-url="<%= autocomplete_items_url %>">
			<%= form_tag items_path, method: :get, autocomplete: "off" do %>
				<div class="input-group w-100">
					<%= search_field_tag :search, params[:search], class: "form-control", placeholder: "What are you looking for?", id: "desktop_search_field", data: { target: 'autocomplete.input', action: "input->autocomplete#fetchResults blur->autocomplete#clearResults" } %>

					<div class="input-group-append">
						<button class="btn btn-outline-success" type="submit">
							<%= fa_icon "search" %>
						</button>
					</div>
				</div>
			<% end %>

			<ul class="list-group position-absolute" data-target="autocomplete.results" style="z-index: 10;"></ul>
		</div>

		<div class="navbar-expand">
			<ul class="navbar-nav ml-lg-3">
			  <li class="nav-item mr-3 my-auto">
			    <% if I18n.locale == :en %>
			    	<%= link_to url_for(locale: :de), class: 'nav-link px-0 py-0', style: "line-height: 0;" do %>
			    		<%= flag_icon(:gb) %>
			    	<% end %>
			    <% else %>
			    	<%= link_to url_for(locale: :en), class: 'nav-link px-0 py-0', style: "line-height: 0;" do %>
			    		<%= flag_icon(:de) %>
			    	<% end %>
			    <% end %>
			  </li>

			  <% if current_user %>
			  	<li class="nav-item dropdown">
			  	  <a class="dropdown-toggle btn btn-outline-success mr-2 mb-2 mb-lg-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	    <%= t('.account') %>
			  	  </a>

			  	  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  	  	<%= link_to t(".your_account"), edit_user_registration_path, class: "dropdown-item" %>
			  	  	<%= link_to t(".your_orders"), orders_path, class: "dropdown-item" %>
			  	  	<!-- <%= link_to "Your Recipes", recipes_path, class: "dropdown-item" %> -->
			  	    <div class="dropdown-divider"></div>
			  	    <%= link_to t(".log_out"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
			  	  </div>
			  	</li>
				<% else %>
					<li class="nav-item">
						<%= link_to "Log in", new_user_session_path, class: "btn btn-outline-secondary mr-2", style: "min-width: 80px;" %>
					</li>
			  <% end %>

			  <li class="nav-item">
			  	<%= link_to edit_cart_path(id: current_cart.id), remote: true, class: "btn btn-success position-relative", style: "min-width: 100px;"  do %>
			  		<%= fa_icon "shopping-cart" %>
			  		<%= t('.cart') %>
			  		<span class="badge badge-pill badge-danger" id="cart_count"><%= current_cart.count %></span>
			  	<% end %>
			  </li>
			</ul>
		</div>
	</div>

	<div class="px-3">
		<div class="flex-grow-1 d-block d-lg-none pb-3" data-controller="autocomplete" data-autocomplete-url="<%= autocomplete_items_url %>">
			<%= form_tag items_path, method: :get, autocomplete: "off" do %>
				<div class="input-group w-100">
					<%= search_field_tag :search, params[:search], class: "form-control", placeholder: "What are you looking for?", id: "mobile_search_field", data: { target: 'autocomplete.input', action: "input->autocomplete#fetchResults blur->autocomplete#clearResults" } %>

					<div class="input-group-append">
						<button class="btn btn-outline-success" type="submit">
							<%= fa_icon "search" %>
						</button>
					</div>
				</div>
			<% end %>

			<ul class="list-group position-absolute" data-target="autocomplete.results" style="z-index: 10;"></ul>
		</div>

		<ul class="nav nav-fill d-none d-lg-flex">
			<li class="nav-item">
				<%= link_to 'All Items', items_path, class: "nav-link pt-0 pb-1 #{@tags ? 'text-secondary' : 'text-success'}" %>
			</li>

			<% ['Meats', 'Cereals', 'Vegetables', 'Grains', 'Beverages', 'Personal Care'].each do |tag| %>
				<li class="nav-item">
					<%= link_to tag, items_path(request.query_parameters.except("page").deep_merge(filter: [tag] )), class: "nav-link pt-0 pb-1 text-secondary #{@tags.try(:include?, tag) ? 'text-success' : 'text-secondary'}" %>
				</li>
			<% end %>
		</ul>
	</div>
</nav>
