<div class="bg-sky sticky-top row justify-content-between align-items-center p-0 mx-0">
	<div class="col col-1 text-center">
		<%= link_to "less", root_path, class: "text-white aleo logo-text" %>
	</div>

	<div class="col col-1">
		<%= link_to "EN", url_for(locale: :en) %>
		<%= link_to "DE", url_for(locale: :de) %>
		
		<% if current_user %>
			<% current_user.reload # Is neccessary to ensure that the cart_items.length is up to date %>

			<%= link_to edit_cart_path(id: current_user.cart.id), class: "btn btn-primary position-relative" do %>
				<%= fa_icon "shopping-cart" %>
				Cart
				<span class="badge badge-pill badge-danger notify"><%= current_user.cart.cart_items.length %></span>
			<% end %>
		<% else %>
			<div class="text">
				<span class="text-muted">Welcome!</span>

				<div>
					<%= link_to "Sign in", new_user_session_path, class: "text-dark" %>
					 | 
					<%= link_to "Register", new_user_registration_path, class: "text-dark" %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<style>
	.bg-sky {
		background: #a2d6f9;
	}

	.logo-text {
		font-size: 33px;
	}

	.aleo {
		font-family: 'Aleo', serif;
	}
</style>