<nav class="navbar navbar-light bg-light sticky-top" id="navbar">
	<div class="d-flex">
		<%= link_to root_path, class: "navbar-brand" do %>
			<%= image_tag "temp_logo", id: "logo", alt: "less logo" %>
		<% end %>

		<ul class="nav">
		  <li class="nav-item">
		  	<%= link_to "Groceries", products_path, class: "nav-link text-secondary" %>
		  </li>

		  <li class="nav-item">
		  	<%= link_to "Recipes", recipes_path, class: "nav-link text-secondary" %>
		  </li>

		  <% if current_user %>
		  	<li class="nav-item">
		  		<%= link_to "Account", edit_user_registration_path, class: "nav-link text-secondary" %>
		  	</li>

		  	<li class="nav-item">
		  		<%= link_to "Orders", orders_path, class: "nav-link text-secondary" %>
		  	</li>
		  <% end %>
		</ul>
	</div>

	<div class="d-flex">
		<% if current_user %>
			<%= link_to edit_cart_path(id: current_user.cart.id), class: "ml-3" do %>
				<% current_user.reload # Is neccessary to ensure that the cart_items.length is up to date %>
				<%= fa_icon "shopping-cart", text: current_user.cart.cart_items.length.to_s %>
			<% end %>
		<% else %>
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-primary", title: "Click here to sign in", data: { toggle: "tooltip", placement: "right" } %>
		<% end %>
	</div>
</nav>
