<!DOCTYPE html>

<html>
  <head>
    <title>Less</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&display=swap" rel="stylesheet">
    <script src='https://js.stripe.com/v3/'></script> <!-- This should be changed as to not be included everywhere -->

    <%= favicon_link_tag asset_path('less_favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flashes' %>
    
    <%= yield %>

    <!-- Modal -->
    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

  </body>
</html>
